@font-face {
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: "Chronicle Display";
  src: url(../../fonts/ChronicleDisplay-Bold.otf);
}
* {
  font-family: "Gilroy";
}
